@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&family=Rubik+Mono+One&family=Russo+One&display=swap');

:root
{
    --color-primary-3: #846ba7;
    --color-primary-4: #30135e;
    --color-primary-5: #282129;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-primary-3);
    background-image: url(../assets/img/background-passnerator\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0 18px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#size
{
    width: 90px;
    height: 30px;
    text-align: center;
}

#size::-webkit-inner-spin-button,
#size::-webkit-outer-spin-button
{
    opacity: 1;
}

#size:focus
{
    outline: 1px solid var(--color-primary-5);
}

#password_container
{
    width: 100%;
    max-width: 400px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-4);
    color: white;
    border-radius: 8px;
    padding: 8px 18px;
}

#password_container.show
{
    display: flex;
}

#password
{
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copy
{
    background-color: transparent;
    border: none;
    color: var(--color-primary-3);
    height: 40px;
    width: 30px;
    font-size: 19px;
    cursor: pointer;
    transition: color .4s;
}

#copy:hover
{
    color: white;
}

#password_items
{
    width: 400px;
    background-color: var(--color-primary-4);
    color: #e7e1e1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 18px;
}

#generate
{
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    color: white;
    background-color: var(--color-primary-4);
    font-size: 14px;
    font-weight: 300;
    padding: 9px 100px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 20px;
}

#generate:hover
{
    background-color: white;
    color: var(--color-primary-4);
}

.github_btn a
{
    color: white;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.github_btn a:hover
{
    color: var(--color-primary-4);
}

@media screen and (max-width:480px)
{

    #container{
        height: 100vh;
    }

    h1{
        font-size: 30px;
    }

}
